@model ISE309.Odev.Shared.DTO.Menu.MenuEditDTO
@{
    ViewData["Title"] = "MenuEdit";
}

<h1>Menü Düzenle</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <form asp-route-id="@ViewBag.id" method="post">
                <div class="container m-5 p-5">
                    <div class="input-group mb-3">
                        <label class="input-group" asp-for="MenuName"></label>
                        <input class="form-control" asp-for="MenuName" />
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group" asp-for="MenuPrice"></label>
                        <input class="form-control" asp-for="MenuPrice" />
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group" asp-for="MenuImage"></label>
                        <input class="form-control" asp-for="MenuImage" />
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group" asp-for="MenuStatus"></label>
                        <input class="form-control" asp-for="MenuStatus" />
                    </div>
                    <button class="btn btn-success px-5" type="submit">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>